/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require font-awesome
  */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #173240;
  color: #f5f5f5;
  margin-top: 100px;
}

.homepage {
  margin-left: 30px;
}

.home_image {
  width: 700px;
  height: auto;
  border-radius: 4px;
}

.posts_image {
  max-width: 500px;
  height: auto;
  border-radius: 4px;
}

.navbar {
  position: fixed;
  overflow: hidden;
  background-color: #1a1a1a;
  height: 72px;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #f5f5f5;
  text-decoration: none;
  margin-top: 20px;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.home a {
  float: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #00668f;
  font-weight: bold;
}

.navbar-right {
  float: right;
}

.create-user, .create-post, .login {
  margin-top: 20px;
  width: 40%;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #404040;
}

.user-profile, .all-users, .post-container, .posts-index, .categories-show {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #404040;
  text-align: center;
}

.all-users a {
  color: #f0f0f0;
}

.all-users h3 {
  display: inline;
  padding: 30px;
}

.all-posts td a{
  color: #f0f0f0;
}

.all-posts th a{
  padding-left: 20px;
  color: #00668f;
}

.categories {
  background-color: #1a1a1a;
  text-align: center;
  height: 40px;
  margin-left: 20%;
  margin-right: 20%;
}

.all-categories {
  background-color: #bfbfbf;
  color: #000;
}

.form-control {
  height: 22px;
  width: 180px;
  font-size: 14px;
}

.post-control {
  width: 250px;
  height: 28px;
  font-size: 16px;
}

.form-area {
  height: 100px;
  width: 400px;
  max-width: 400px;
  font-size: 14px;
}

.submit-button {
  background: #0066A2;
  color: #f5f5f5;
  border-style: outset;
  border-color: #0066A2;
  border-radius: 2px;
  font-size: 15px;
  height: 50px;
  width: 100px;
}

.user-posts {
  margin-top: 30px;
}

.user-posts-list a {
  color: #00668f;
}
